<div class="container mt-5">
    <div class="row ">
       <div class="col d-flex align-items-center justify-content-center">
           <div class="row">

                <div class="col col-sm-4">
                    <a routerLink="/phone"  style="text-decoration: none;">
                    <div class="card" style="background-color: rgb(22, 111, 111);">
                        <div class="card-body text-center">
                           <i class="bi bi-phone-fill text-white text-center" style="font-size:100px;"></i>
                            <strong class="text-center text-white " >الهواتف المحمولة</strong>
                        </div>
                    </div>
                    </a>
                 </div>
        
 
             <div class="col col-sm-4">
                <a routerLink="/phone"  style="text-decoration: none;">
                <div class="card" style="background-color: rgb(164, 201, 201);">
                    <div class="card-body text-center">
                        <i class="bi bi-bicycle text-white text-center" style="font-size:100px;"></i>
                        <strong class="text-center text-white " >  دراجات هوائية  </strong>
                    </div>
                </div>
                </a>
             </div>
 
           </div>
       </div>
    </div>
 </div>